@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;


.footer{
    display: flex;
    flex-direction: column;
    
    min-height: 30vh;

    padding: 2rem;
    
    color: $color-white;
    background-color: $color-midnight;

    &__grid{
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
        flex: 1;
    }

    &__title{
        font-size: clamp(8rem, 10vw, 14rem);
        font-weight: 600;        
    }

    &__bottom{
        display: flex;
        justify-content: space-between;

        margin-top: auto;
        font-size: clamp(.5rem, 1.5vw, 2.5rem);
        font-weight: 400;  
    }

    &__nav{
        display: flex;
        flex-direction: column;

        gap: 2rem;

        &-title{
            font-size: clamp(1rem, 2vw, 3rem);
            font-weight: 400;  
        }

        &-list{
            list-style-type: none;

            display: flex;
            flex-direction: column;

            gap: 1rem;

        }

        &-item{
            text-decoration: none;
            font-size: clamp(.5rem, 1.5vw, 2.5rem);
            font-weight: 400; 
            color: $color-white;
        }

    }

}