@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: $color-white;

    &__title {
        font-size: clamp(2rem, 4vw, 6rem);
        font-weight: 300;
        text-decoration: none;
        color: $color-midnight;
    }

    &__ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
        list-style-type: none;
        background-color: $color-white;

        &__button {
            @include btn_secundario();
        }
    }

    &__button--booknow {
        @include btn_cta();
    }
}